*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
}
nav ul{
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
}
ul li{
    display: flex;
    align-items: center;
    margin: 10px;
}
#logo_img{
    width: 40px;
}
