@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=PT+Serif:wght@700&family=REM:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=PT+Sans+Narrow:wght@700&family=PT+Serif:wght@700&family=REM:wght@500&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

nav ul {
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
}

ul li {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 10px;
}

#brand {
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'REM', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#logo_img {
    width: 35px;
    padding: 0 8px;
}

.container {
    min-height: 75vh;
    background-color: darkslategrey;
    color: white;
    width: 65vw;
    margin: 1.5vh 18vw;
    background-image: url(bg.jpg);
    background-size: cover;
    font-family: 'PT Sans Narrow', sans-serif;
    border-radius: 10px;
}

.songList h1 {
    padding: 20px 40px;
}
.songItem{
    background-color: white;
    color: black;
    width: 40%;
    height: 5vh;
    margin: 10px 40px;
    padding: 0px 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 30px;
}

.songItem img{
    width: 4vh;
    border-radius: 20px;
}

.song_name{
    font-size: 1.4vw;
}

.timestamp{
    display: flex;
    align-items: center;
}

.timestamp i{
    font-size: 2vw;
    margin: 0px 2px;
    cursor: pointer;
}
.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 15vh;
    position: sticky;
    bottom: 0px;
}

.icons {
    margin-top: 15px;
}

.icons i {
    margin: 0 20px;
    width: 2vw;
    height: 2vh;
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw; 
    font-family: 'PT Sans Narrow', sans-serif;
}
.songInfo img{
    width: 10vh;
    margin: 0px 10px;
    opacity: 0;
    transition: 1s ease-in;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}